.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lost_game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.lost_game h1 {
  font-size: 30px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.lost_game h2 {
  font-size: 24px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.green_btn {
  background-color: #1abc9c;
}

